body {
  font-family: 'Raleway', sans-serif;
}

.navbar-brand {
  font-family: 'Raleway', sans-serif;
}

.nav-item {
  font-family: 'Raleway', sans-serif;
}
.container {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}
